.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white !important;
  opacity: 1 !important;
}

.sai {
  display: flex;
}

.sai .sidebar {
  margin: auto;
  flex: 0 0 50%;
}

.sai img {
  flex: 0 0 30%;
  margin: 0 auto;
  max-height: 500px;
}

.about-us {
  display: flex;
}

.about-us img {
  width: 50%;
  max-width: 90%;
}

.about-us div {
  width: 45%;
  margin: auto 0px;
}

.stats {
  display: flex;
  margin: 10px auto;
  width: 90%;
  justify-content: space-between;
  margin-top: 50px;
}

.stats div {
  display: flex;
  flex-direction: column;
}

.stats p {
  color: rgb(17, 0, 255);
}

.stats div p:nth-child(1) {
  font-weight: bold;
}

.contact .header {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4e6b70;
  color: white;
  font-size: 20px;
  height: 200px;
}

.contact header span {
  font-size: 30px;
  font-weight: bold;
  margin-left: -15px;
}

.contact .header img {
  width: 150px;
  height: 150px;
}

.contact-section {
  display: flex;
  justify-content: space-around;
}

.contact-section img {
  width: 850px;
  height: 300px;
  display: block;
}

.stats div .label {
  margin-top: 15px;
  text-transform: uppercase;
}

@media (min-width:320px) and (max-width:640px) {
  .sai {
    display: flex;
    flex-direction:column;
    margin-top:24px
  }
  .sai img {
    min-width: 350px;
    max-width: 350px;
    margin: 0 auto;
  }

  .sai .btn {
    width:100%;
    font-size:14px
  }

  .sai .accordion {
    min-width: 80vw;
  }

  .sai .card-body {
    font-size:13px;
  }

  .sai .text-muted {
    font-size:22px
  }

  .contact .header {
    display: flex;
    flex-direction: column;
  }

  .contact .header {
    width: 100%;
    max-width:100vw !important;
    height: 200px;
  }

  .contact .header img {
   width: 150px;
   height: 150px;
    margin-bottom: 12px;
  }

  .contact .header span {
    margin-top:12px;
    font-size:16px;
  }

  .contact .contact-section {
    width: 100vw;
    height:300px;
  }

  .contact .contact-section img {
    width:100%;
    height:100%;
    margin: 0 auto;
    object-fit:fill
  }
  .chat {
    width:90vw !important;
    height: 90vw !important;
    bottom:100px !important;
    right:20px !important;
  }
}